###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

wwwroot/lib/** linguist-vendored=false
