###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

src/HandsontableBlazor/wwwroot/lib/** linguist-vendored=false
