@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

<div id="hot">
</div>

@code 
{
    [Parameter]
    public string? Id { get; set; }
    [Parameter]
    public ConfigurationOptions? ConfigurationOptions { get; set; }
    [Parameter]
    public Func<HandsontableJsInterop.AfterChangeArgs, Task>? OnAfterChange { get; set; }

    public HandsontableJsInterop? HandsontableJsInterop { get; private set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && HandsontableJsInterop == null )
        {
            HandsontableJsInterop = new HandsontableJsInterop(JSRuntime);
            await HandsontableJsInterop.NewHandsontable(
                Id!, ConfigurationOptions
            );
            if (OnAfterChange != null) await HandsontableJsInterop.AddHookAfterChange(OnAfterChange);
        }
    }
}

