@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

<div id="hot">
</div>

@code 
{
    [Parameter]
    public string? Id { get; set; }
    [Parameter]
    public IList<IList<object>>? Data { get; set; }

    public HandsontableJsInterop HandsontableJsInterop { get; private set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && HandsontableJsInterop == null )
        {
            HandsontableJsInterop = new HandsontableJsInterop(JSRuntime);
            await HandsontableJsInterop.NewHandsontable(
                Id!, Data
            );
        }
    }

    private async Task AddRow()
    {
        await HandsontableJsInterop.Alter(HandsontableJsInterop.AlterActionEnum.insert_row_above, 0);
    }
}
