@page "/"
@using Handsontable.Blazor
@inject ExampleJsInterop ExampleJsInterop

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<Handsontable />

<button @onclick="CallExampleJsInterop">Call example JavaScript interop</button>

@code {
    private async Task CallExampleJsInterop()
    {
        await ExampleJsInterop.Prompt("Hello from Blazor");
    }
}