@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="AddRow">Add Row</button>

<Handsontable.Blazor.Handsontable Id="hot" Data="@_data" @ref="_handsontable" />

@code
{
    Handsontable.Blazor.Handsontable? _handsontable;

    object[][] _data =
    {
        new object[] { "A1", "B1", "C1" },
        new object[] { "A2", "B2", "C2" },
        new object[] { "A3", "B3", "C3" }
    };

    private async Task AddRow()
    {
        await _handsontable!.HandsontableJsInterop.Alter(
            Handsontable.Blazor.HandsontableJsInterop.AlterActionEnum.insert_row_above, 0);
    }
}

